body {
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}
.side_logo {
  position: relative;
  background-image: url(./images/red_wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 40%;
}

.side_bar {
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: #0000005d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side_bar img {
  height: 9rem;
}
.logo_font {
  font-family: "Edu QLD Beginner", cursive;
  color: white;
  font-size: 40px;
}
.right_container,
.text_container,
.fieldset_container {
  display: flex;
  flex-direction: column;
}
.right_container {
  flex-shrink: 1;
  flex-grow: 1;
  align-items: center;
}
.text_container {
  background-color: rgb(240, 240, 240);
  max-width: fit-content;
  width: 100%;
  font-size: 20px;
  padding: 3rem;
  padding-bottom: 2rem;
}
.fieldset_container {
  max-width: fit-content;
  width: 100%;
  font-size: 14px;
}

fieldset {
  width: 40rem;
  border-radius: 0.3rem;
  border: 0rem;
  margin: 0rem;
  padding: 0rem;
}
legend {
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
input {
  width: 10rem;
  height: 1.5rem;
  border-radius: 0.3rem;
}
.input_pair,
.input_row {
  display: flex;
}
.input_row {
  justify-content: space-around;
}
.input_pair {
  flex-direction: column;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
}
.btn_container {
  padding-left: 4.7rem;
  padding-top: 1rem;
  margin: 0rem;
}
button {
  background: linear-gradient(
    90deg,
    rgb(234, 63, 64),
    rgb(183, 14, 29),
    rgb(120, 1, 5)
  );
  border-radius: 0.3rem;
  width: 5rem;
  height: 2rem;
  color: white;
}
button:hover {
  background: rgb(234, 64, 64);
}
button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.5);
}
input:valid {
  border: 2px solid green;
}
#password_validation_text {
  color: red;
}
#user_email:not(:placeholder-shown):invalid {
  border: 2px solid red;
}
